@model IEnumerable<GestioneMagazzino.Models.ModelClientiList>

@{
    ViewBag.Title = "Listaclienti";
}

<h2>Lista Clienti</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partitaiva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codicefiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partitaiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codicefiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


        </tr>
    }

</table>
@Html.ActionLink("Torna al menù principale", "IndexAddettoVendite")
