@model IEnumerable<GestioneMagazzino.Models.ModelFornitoriList>

    @{
    ViewBag.Title = "Listafornitori";
    }

    <h2>Lista Fornitori</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idfornitore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partitaiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idfornitore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partitaiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}

    </table>
    <div>
        @Html.ActionLink("Torna al menù principale", "IndexAddettoForniture")
    </div>