@model IEnumerable<GestioneMagazzino.Models.ModelUtenteList>

    @{
    ViewBag.Title = "Listautenti";
    }

    <h2>Lista Utenti</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idutente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idutente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
        </tr>
}

    </table>
    <div>
        @Html.ActionLink("Torna al menù principale", "AdminIndex")
    </div>

